<div class='modal fade'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg'>
    <form class='modal-content text-bg-st-primary' action='' data-sk-channel='game-add'>
      <div class='modal-header'>
        <div class='modal-title'>
          <span class='mdi mdi-nintendo-game-boy'></span>
          <span class='ms-1'>
            {{#if isEditMode}}
              Edit
              {{gameData.name}}
            {{else}}
              Add
              {{gameDataFromExe.name}}
            {{/if}}
          </span>
        </div>
        <button type='button' class='btn-close btn-close-white' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body'>
        <ul class='nav nav-pills nav-justified align-items-center'>
          <li class='nav-item'>
            <button
              type='button'
              class='nav-link active'
              data-bs-toggle='tab'
              data-bs-target='#executable'
            >Executable</button>
          </li>
          <li class='nav-item'>
            <button type='button' class='nav-link' data-bs-toggle='tab' data-bs-target='#networkOther'>Network and
              Others</button>
          </li>
          <li class='nav-item'>
            <button type='button' class='nav-link' data-bs-toggle='tab' data-bs-target='#account'>Account</button>
          </li>
        </ul>
        <div class='tab-content mt-2'>
          <div class='tab-pane fade show active' id='executable'>
            <div class='card text-bg-st-primary'>
              <div class='card-body'>
                <div class='form-floating'>
                  {{#if isEditMode}}
                    <input
                      type='number'
                      id='floatingAppId'
                      class='form-control text-bg-light'
                      name='appId'
                      placeholder='...'
                      value='{{gameData.appId}}'
                      readonly
                      required
                    />
                  {{else}}
                    <input
                      type='number'
                      id='floatingAppId'
                      class='form-control text-bg-light'
                      name='appId'
                      placeholder='...'
                      required
                    />
                  {{/if}}
                  <label for='floatingAppId' class='text-dark'>
                    <span class='mdi mdi-identifier'></span>
                    <span>AppId [ex. 1593500] {{#if isEditMode}}<b class='text-danger'>[not editable]</b>{{/if}}</span>
                  </label>
                </div>
                <div class='input-group mt-2'>
                  <div class='form-floating form-floating-group flex-grow-1'>
                    {{#if isEditMode}}
                      <input
                        type='text'
                        class='form-control text-bg-light'
                        name='executableFilePath'
                        placeholder='...'
                        value='{{gameData.executableFilePath}}'
                        required
                        readonly
                      />
                    {{else}}
                      <input
                        type='text'
                        class='form-control text-bg-light'
                        name='executableFilePath'
                        placeholder='...'
                        value='{{gameDataFromExe.fullPath}}'
                        required
                        readonly
                      />
                    {{/if}}
                    <label class='text-dark'>
                      <span class='mdi mdi-directions-fork'></span>
                      <span>Executable File Path [ex. C:\Games\GodOfWar\GoW.exe]</span>
                    </label>
                  </div>
                  <button type='button' class='btn btn-primary' data-sk='choseDirFile' data-sk-what='file'>
                    <span class='mdi mdi-paperclip'></span>
                  </button>
                </div>
                <div class='input-group mt-2'>
                  <div class='form-floating form-floating-group flex-grow-1'>
                    {{#if isEditMode}}
                      <input
                        type='text'
                        class='form-control text-bg-light'
                        name='executableWorkingDirectory'
                        placeholder='...'
                        value='{{gameData.executableWorkingDirectory}}'
                        required
                        readonly
                      />
                    {{else}}
                      <input
                        type='text'
                        class='form-control text-bg-light'
                        name='executableWorkingDirectory'
                        placeholder='...'
                        value='{{gameDataFromExe.dir}}'
                        required
                        readonly
                      />
                    {{/if}}
                    <label class='text-dark'>
                      <span class='mdi mdi-directions-fork'></span>
                      <span>Executable Working Directory [ex. C:\Games\GodOfWar\]</span>
                    </label>
                  </div>
                  <button type='button' class='btn btn-primary' data-sk='choseDirFile' data-sk-what='dir'>
                    <span class='mdi mdi-paperclip'></span>
                  </button>
                </div>
                <div class='form-floating mt-2'>
                  {{#if isEditMode}}
                    <input
                      type='text'
                      id='floatingCommandLine'
                      class='form-control text-bg-light'
                      name='commandLine'
                      placeholder='...'
                      value='{{gameData.commandLine}}'
                    />
                  {{else}}
                    <input
                      type='text'
                      id='floatingCommandLine'
                      class='form-control text-bg-light'
                      name='commandLine'
                      placeholder='...'
                    />
                  {{/if}}
                  <label for='floatingCommandLine' class='text-dark'>
                    <span class='mdi mdi-playlist-plus'></span>
                    <span>Command Line [ex. -steam]</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class='tab-pane fade' id='networkOther'>
            <div class='card text-bg-st-primary'>
              <div class='card-body'>
                <div class='form-floating'>
                  <select
                    id='floatingDisableNetworking'
                    class='form-select text-bg-light'
                    name='disableNetworking'
                    required
                  >
                    {{#if gameData.disableNetworking}}
                      <option value='true' selected>True</option>
                      <option value='false'>False</option>
                    {{else}}
                      <option value='true'>True</option>
                      <option value='false' selected>False</option>
                    {{/if}}
                  </select>
                  <label for='floatingDisableNetworking' class='text-dark'>
                    <span class='mdi mdi-stack-overflow'></span>
                    <span>Disable Networking [default. false]</span>
                  </label>
                </div>
                <div class='form-floating mt-2'>
                  <select
                    id='floatingDisableOverlay'
                    class='form-select text-bg-light'
                    name='disableOverlay'
                    required
                  >
                    {{#if gameData.disableOverlay}}
                      <option value='true' selected>True</option>
                      <option value='false'>False</option>
                    {{else}}
                      <option value='true'>True</option>
                      <option value='false' selected>False</option>
                    {{/if}}
                  </select>
                  <label for='floatingDisableOverlay' class='text-dark'>
                    <span class='mdi mdi-stack-overflow'></span>
                    <span>Disable Overlay [default. false]</span>
                  </label>
                </div>
                <div class='form-floating mt-2'>
                  <select id='floatingDisableLanOnly' class='form-select text-bg-light' name='disableLanOnly' required>
                    {{#if gameData.disableLanOnly}}
                      <option value='true' selected>True</option>
                      <option value='false'>False</option>
                    {{else}}
                      <option value='true'>True</option>
                      <option value='false' selected>False</option>
                    {{/if}}
                  </select>
                  <label for='floatingDisableLanOnly' class='text-dark'>
                    <span class='mdi mdi-stack-overflow'></span>
                    <span>Disable Lan Only [default. false]</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class='tab-pane fade' id='account'>
            <div class='card text-bg-st-primary'>
              <div class='card-body'>
                <div class='form-floating'>
                  {{#if isEditMode}}
                    <input
                      type='text'
                      id='floatingForceAccountName'
                      class='form-control text-bg-light'
                      name='forceAccountName'
                      placeholder='...'
                      value='{{gameData.forceAccountName}}'
                    />
                  {{else}}
                    <input
                      type='text'
                      id='floatingForceAccountName'
                      class='form-control text-bg-light'
                      name='forceAccountName'
                      placeholder='...'
                    />
                  {{/if}}
                  <label for='floatingForceAccountName' class='text-dark'>
                    <span class='mdi mdi-badge-account'></span>
                    <span>Force Account Name [leave empty to use account settings]</span>
                  </label>
                </div>
                <div class='form-floating mt-2'>
                  <select
                    id='floatingForceAccountLanguage'
                    class='form-select text-bg-light'
                    name='forceAccountLanguage'
                  >
                    <option value=''>leave empty to use account settings</option>
                    {{#each allowedLanguages}}
                      <!-- NOTE: remove ../ because glimmer doesn't support it when format with prettier -->
                      {{#if (eq ../gameData.forceAccountLanguage @key)}}
                        <option value='{{@key}}' selected>{{this}}</option>
                      {{else}}
                        <option value='{{@key}}'>{{this}}</option>
                      {{/if}}
                    {{/each}}
                  </select>
                  <label for='floatingForceAccountLanguage' class='text-dark'>
                    <span class='mdi mdi-translate'></span>
                    <span>Force Account Language</span>
                  </label>
                </div>
                <div class='form-floating mt-2'>
                  {{#if isEditMode}}
                    <input
                      type='text'
                      id='floatingForceAccountSteamId'
                      class='form-control text-bg-light'
                      name='forceAccountSteamId'
                      placeholder='...'
                      value='{{gameData.forceAccountSteamId}}'
                    />
                  {{else}}
                    <input
                      type='text'
                      id='floatingForceAccountSteamId'
                      class='form-control text-bg-light'
                      name='forceAccountSteamId'
                      placeholder='...'
                    />
                  {{/if}}
                  <label for='floatingForceAccountSteamId' class='text-dark'>
                    <span class='mdi mdi-identifier'></span>
                    <span>Force SteamID [leave empty to use account settings]</span>
                  </label>
                </div>
                <div class='form-floating mt-2'>
                  {{#if isEditMode}}
                    <input
                      type='number'
                      id='floatingForceAccountListenPort'
                      class='form-control text-bg-light'
                      name='forceAccountListenPort'
                      placeholder='...'
                      value='{{gameData.forceAccountListenPort}}'
                    />
                  {{else}}
                    <input
                      type='number'
                      id='floatingForceAccountListenPort'
                      class='form-control text-bg-light'
                      name='forceAccountListenPort'
                      placeholder='...'
                    />
                  {{/if}}
                  <label for='floatingForceAccountListenPort' class='text-dark'>
                    <span class='mdi mdi-ip'></span>
                    <span>Force Listen Port [leave empty to use account settings]</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='submit' class='btn btn-success w-100'>Save</button>
      </div>
    </form>
  </div>
</div>
