<div id='st-modal-game' class='modal fade'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg'>
    <form class='modal-content text-bg-st-primary' action='' data-sk-channel='game-add'>
      <div class='modal-header'>
        <div class='modal-title'>
          <span class='mdi mdi-nintendo-game-boy mdi-18px'></span>
          <span class='ms-1'>
            {{#if isEditMode}}
              Edit
              {{gameData.name}}
            {{else}}
              Add
              {{gameDataFromExe.name}}
            {{/if}}
          </span>
        </div>
        <button type='button' class='btn-close btn-close-white' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body modal-body-tabs'>
        <ul class='nav nav-pills flex-column'>
          <li class='nav-item'>
            <button type='button' class='nav-link active' data-bs-toggle='tab' data-bs-target='#general'>
              <span class='mdi mdi-hammer-screwdriver mdi-18px'></span>
              <span>General</span>
            </button>
          </li>
          <li class='nav-item'>
            <button type='button' class='nav-link' data-bs-toggle='tab' data-bs-target='#executable'>
              <span class='mdi mdi-hammer-screwdriver mdi-18px'></span>
              <span>Executable</span>
            </button>
          </li>
          <li class='nav-item'>
            <button type='button' class='nav-link' data-bs-toggle='tab' data-bs-target='#account'>
              <span class='mdi mdi-account-circle mdi-18px'></span>
              <span>Account</span>
            </button>
          </li>
        </ul>
        <div class='card'>
          <div class='card-body'>
            <div class='tab-content'>
              <div class='tab-pane fade show active' id='general'>
                <div class='row'>
                  <label for='floatingAppId' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='example. 1593500'
                    ></span>
                    {{#if isEditMode}}
                      <span
                        class='mdi mdi-pencil-off mdi-18px text-danger'
                        data-bs-toggle='tooltip'
                        title='READONLY'
                      ></span>
                    {{/if}}
                    <span class='mdi mdi-identifier mdi-18px'></span>
                    <span>AppId</span>
                  </label>
                  <div class='col-6'>
                    {{#if isEditMode}}
                      <input
                        type='number'
                        id='floatingAppId'
                        class='form-control'
                        name='appId'
                        placeholder='...'
                        value='{{gameData.appId}}'
                        readonly
                        required
                      />
                    {{else}}
                      <input
                        type='number'
                        id='floatingAppId'
                        class='form-control'
                        name='appId'
                        placeholder='...'
                        required
                      />
                    {{/if}}
                  </div>
                </div>
                <hr class='my-2' />
                {{#if isEditMode}}
                  <div class='row'>
                    <label for='floatingName' class='col-6 col-form-label'>
                      <span
                        class='mdi mdi-pencil-off mdi-18px text-danger'
                        data-bs-toggle='tooltip'
                        title='READONLY'
                      ></span>
                      <span class='mdi mdi-form-textbox mdi-18px'></span>
                      <span>Name</span>
                    </label>
                    <div class='col-6'>
                      <input
                        type='text'
                        id='floatingName'
                        class='form-control'
                        name='name'
                        placeholder='...'
                        value='{{gameData.name}}'
                        readonly
                      />
                    </div>
                  </div>
                  <hr class='my-2' />
                  <div class='row'>
                    <label for='floatingCloudName' class='col-6 col-form-label'>
                      <span
                        class='mdi mdi-pencil-off mdi-18px text-danger'
                        data-bs-toggle='tooltip'
                        title='READONLY'
                      ></span>
                      <span class='mdi mdi-form-textbox mdi-18px'></span>
                      <span>PCGamingWiki Name</span>
                    </label>
                    <div class='col-6'>
                      <input
                        type='text'
                        id='floatingCloudName'
                        class='form-control'
                        name='pcGamingWikiName'
                        placeholder='undefined'
                        value='{{gameData.pcGamingWikiName}}'
                        readonly
                      />
                    </div>
                  </div>
                  <hr class='my-2' />
                {{/if}}
                <div class='form-check form-check-reverse form-switch text-start'>
                  <label class='form-check-label' for='floatingDisableNetworking'>
                    <span class='mdi mdi-stack-overflow mdi-18px'></span>
                    <span>Disable Networking [default. Disabled]</span>
                  </label>
                  <input type='hidden' name='disableNetworking' value='{{settingsData.disableNetworking}}' />
                  {{#if settingsData.disableNetworking}}
                    <input
                      type='checkbox'
                      id='floatingDisableNetworking'
                      class='form-check-input'
                      data-sk-to='disableNetworking'
                      checked
                    />
                  {{else}}
                    <input
                      type='checkbox'
                      id='floatingDisableNetworking'
                      class='form-check-input'
                      data-sk-to='disableNetworking'
                    />
                  {{/if}}
                </div>
                <hr class='my-2' />
                <div class='form-check form-check-reverse form-switch text-start'>
                  <label class='form-check-label' for='floatingDisableOverlay'>
                    <span class='mdi mdi-stack-overflow mdi-18px'></span>
                    <span>Disable Overlay [default. Disabled]</span>
                  </label>
                  <input type='hidden' name='disableOverlay' value='{{settingsData.disableOverlay}}' />
                  {{#if settingsData.disableOverlay}}
                    <input
                      type='checkbox'
                      id='floatingDisableOverlay'
                      class='form-check-input'
                      data-sk-to='disableOverlay'
                      checked
                    />
                  {{else}}
                    <input
                      type='checkbox'
                      id='floatingDisableOverlay'
                      class='form-check-input'
                      data-sk-to='disableOverlay'
                    />
                  {{/if}}
                </div>
                <hr class='my-2' />
                <div class='form-check form-check-reverse form-switch text-start'>
                  <label class='form-check-label' for='floatingDisableLanOnly'>
                    <span class='mdi mdi-stack-overflow mdi-18px'></span>
                    <span>Disable Lan Only [default. Disabled]</span>
                  </label>
                  <input type='hidden' name='disableLanOnly' value='{{settingsData.disableLanOnly}}' />
                  {{#if settingsData.disableLanOnly}}
                    <input
                      type='checkbox'
                      id='floatingDisableLanOnly'
                      class='form-check-input'
                      data-sk-to='disableLanOnly'
                      checked
                    />
                  {{else}}
                    <input
                      type='checkbox'
                      id='floatingDisableLanOnly'
                      class='form-check-input'
                      data-sk-to='disableLanOnly'
                    />
                  {{/if}}
                </div>
              </div>
              <div class='tab-pane fade' id='executable'>
                <div class='row'>
                  <label for='floatingExecutableFilePath' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='example. C:/Games/GodOfWar/GoW.exe'
                    ></span>
                    <span class='mdi mdi-directions-fork mdi-18px'></span>
                    <span>Executable File Path</span>
                  </label>
                  <div class='col-6'>
                    <div class='input-group'>
                      {{#if isEditMode}}
                        <input
                          type='text'
                          class='form-control'
                          name='executableFilePath'
                          placeholder='...'
                          value='{{gameData.executableFilePath}}'
                          required
                          readonly
                        />
                      {{else}}
                        <input
                          type='text'
                          class='form-control'
                          name='executableFilePath'
                          placeholder='...'
                          value='{{gameDataFromExe.fullPath}}'
                          required
                          readonly
                        />
                      {{/if}}
                      <button
                        type='button'
                        id='floatingExecutableFilePath'
                        class='btn btn-secondary'
                        data-sk='choseDirFile'
                        data-sk-what='file'
                      >
                        <span class='mdi mdi-paperclip'></span>
                      </button>
                    </div>
                  </div>
                </div>
                <hr class='my-2' />
                <div class='row'>
                  <label for='floatingExecutableWorkingDirectory' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='example. C:/Games/GodOfWar/'
                    ></span>
                    <span class='mdi mdi-directions-fork mdi-18px'></span>
                    <span>Executable Working Directory</span>
                  </label>
                  <div class='col-6'>
                    <div class='input-group'>
                      {{#if isEditMode}}
                        <input
                          type='text'
                          class='form-control'
                          name='executableWorkingDirectory'
                          placeholder='...'
                          value='{{gameData.executableWorkingDirectory}}'
                          required
                          readonly
                        />
                      {{else}}
                        <input
                          type='text'
                          class='form-control'
                          name='executableWorkingDirectory'
                          placeholder='...'
                          value='{{gameDataFromExe.dir}}'
                          required
                          readonly
                        />
                      {{/if}}
                      <button
                        type='button'
                        id='floatingExecutableWorkingDirectory'
                        class='btn btn-secondary'
                        data-sk='choseDirFile'
                        data-sk-what='dir'
                      >
                        <span class='mdi mdi-paperclip'></span>
                      </button>
                    </div>
                  </div>
                </div>
                <hr class='my-2' />
                <div class='row'>
                  <label for='floatingCommandLine' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='example. -steam'
                    ></span>
                    <span class='mdi mdi-playlist-plus mdi-18px'></span>
                    <span>Command Line</span>
                  </label>
                  <div class='col-6'>
                    {{#if isEditMode}}
                      <input
                        type='text'
                        id='floatingCommandLine'
                        class='form-control'
                        name='commandLine'
                        placeholder='...'
                        value='{{gameData.commandLine}}'
                      />
                    {{else}}
                      <input
                        type='text'
                        id='floatingCommandLine'
                        class='form-control'
                        name='commandLine'
                        placeholder='...'
                      />
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class='tab-pane fade' id='account'>
                <div class='row'>
                  <label for='floatingForceAccountName' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='leave empty to use account settings'
                    ></span>
                    <span class='mdi mdi-badge-account mdi-18px'></span>
                    <span>Force Account Name</span>
                  </label>
                  <div class='col-6'>
                    {{#if isEditMode}}
                      <input
                        type='text'
                        id='floatingForceAccountName'
                        class='form-control'
                        name='forceAccountName'
                        placeholder='...'
                        value='{{gameData.forceAccountName}}'
                      />
                    {{else}}
                      <input
                        type='text'
                        id='floatingForceAccountName'
                        class='form-control'
                        name='forceAccountName'
                        placeholder='...'
                      />
                    {{/if}}
                  </div>
                </div>
                <hr class='my-2' />
                <div class='row'>
                  <label for='floatingForceAccountLanguage' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='leave empty to use account settings'
                    ></span>
                    <span class='mdi mdi-translate mdi-18px'></span>
                    <span>Force Account Language</span>
                  </label>
                  <div class='col-6'>
                    <select id='floatingForceAccountLanguage' class='form-select' name='forceAccountLanguage'>
                      <option value=''>...</option>
                      {{#each allowedLanguages}}
                        <!-- NOTE: remove ../ because glimmer doesn't support it when format with prettier -->
                        {{#if (eq ../gameData.forceAccountLanguage @key)}}
                          <option value='{{@key}}' selected>{{this}}</option>
                        {{else}}
                          <option value='{{@key}}'>{{this}}</option>
                        {{/if}}
                      {{/each}}
                    </select>
                  </div>
                </div>
                <hr class='my-2' />
                <div class='row'>
                  <label for='floatingForceAccountSteamId' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='leave empty to use account settings'
                    ></span>
                    <span class='mdi mdi-identifier mdi-18px'></span>
                    <span>Force Account SteamID</span>
                  </label>
                  <div class='col-6'>
                    {{#if isEditMode}}
                      <input
                        type='text'
                        id='floatingForceAccountSteamId'
                        class='form-control'
                        name='forceAccountSteamId'
                        placeholder='...'
                        value='{{gameData.forceAccountSteamId}}'
                      />
                    {{else}}
                      <input
                        type='text'
                        id='floatingForceAccountSteamId'
                        class='form-control'
                        name='forceAccountSteamId'
                        placeholder='...'
                      />
                    {{/if}}
                  </div>
                </div>
                <hr class='my-2' />
                <div class='row'>
                  <label for='floatingForceAccountListenPort' class='col-6 col-form-label'>
                    <span
                      class='mdi mdi-information mdi-18px text-danger'
                      data-bs-toggle='tooltip'
                      title='leave empty to use account settings'
                    ></span>
                    <span class='mdi mdi-ip mdi-18px'></span>
                    <span>Force Account Listen Port</span>
                  </label>
                  <div class='col-6'>
                    {{#if isEditMode}}
                      <input
                        type='number'
                        id='floatingForceAccountListenPort'
                        class='form-control'
                        name='forceAccountListenPort'
                        placeholder='...'
                        value='{{gameData.forceAccountListenPort}}'
                      />
                    {{else}}
                      <input
                        type='number'
                        id='floatingForceAccountListenPort'
                        class='form-control'
                        name='forceAccountListenPort'
                        placeholder='...'
                      />
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='submit' class='btn btn-success w-100'>Save</button>
      </div>
    </form>
  </div>
</div>
