<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" action="" data-sk-channel="game-add">
      <div class="modal-header">
        <div class="modal-title">
          <span class="mdi mdi-nintendo-game-boy mdi-18px"></span>
          <span class="ml-1">{{#if isEditMode}}Edit {{data.name}}{{else}}Add {{parameters.name}}{{/if}}</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#executable" type="button">Executable</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#networkOther" type="button">Network & Other</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#account" type="button">Account</button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="executable">
            <div class="card">
              <div class="card-title">
                <span class="mdi mdi-identifier mdi-18px"></span>
                <span class="ml-1">AppId</span>
              </div>
              <div class="card-body">
                <input type="number" class="form-control{{#if isEditMode}} disabled{{/if}}" name="appId"
                  value="{{#if isEditMode}}{{data.appId}}{{/if}}" placeholder="example: 1593500"
                  {{#if isEditMode}}readonly{{/if}} required>
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <span class="mdi mdi-directions-fork mdi-18px"></span>
                <span class="ml-1">Executable File Path</span>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control disabled" name="executableFilePath"
                    value="{{#if isEditMode}}{{data.executableFilePath}}{{else}}{{parameters.fullPath}}{{/if}}"
                    placeholder="example: C:\Games\GodOfWar\GoW.exe" required readonly>
                  <button type="button" class="btn btn-gray" data-sk="choseDirFile" data-sk-what="file">
                    <span class="mdi mdi-paperclip mdi-18px"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <span class="mdi mdi-directions-fork mdi-18px"></span>
                <span class="ml-1">Executable Working Directory</span>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control disabled" name="executableWorkingDirectory"
                    value="{{#if isEditMode}}{{data.executableWorkingDirectory}}{{else}}{{parameters.dir}}{{/if}}"
                    placeholder="example: C:\Games\GodOfWar\" required readonly>
                  <button type="button" class="btn btn-gray" data-sk="choseDirFile">
                    <span class="mdi mdi-paperclip mdi-18px"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-title">
                <span class="mdi mdi-playlist-plus mdi-18px"></span>
                <span class="ml-1">Command Line</span>
              </div>
              <div class="card-body">
                <input type="text" class="form-control" name="commandLine"
                  value="{{#if isEditMode}}{{data.commandLine}}{{/if}}" placeholder="example: -steam">
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="networkOther">

        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-stack-overflow mdi-18px"></span>
            <span class="ml-1">Disable Networking</span>
          </div>
          <div class="card-body">
            <select class="form-select" name="disableNetworking" required>
              <option value="true" {{#if data.disableNetworking}}selected{{/if}}>True</option>
              <option value="false" {{#unless data.disableNetworking}}selected{{/unless}}>False</option>
            </select>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-stack-overflow mdi-18px"></span>
            <span class="ml-1">Disable Overlay</span>
          </div>
          <div class="card-body">
            <select class="form-select" name="disableOverlay" required>
              <option value="true" {{#if data.disableOverlay}}selected{{/if}}>True</option>
              <option value="false" {{#unless data.disableOverlay}}selected{{/unless}}>False</option>
            </select>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-stack-overflow mdi-18px"></span>
            <span class="ml-1">Disable Lan Only</span>
          </div>
          <div class="card-body">
            <select class="form-select" name="disableLanOnly" required>
              <option value="true" {{#if data.disableLanOnly}}selected{{/if}}>True</option>
              <option value="false" {{#unless data.disableLanOnly}}selected{{/unless}}>False</option>
            </select>
          </div>
        </div>
          </div>
          <div class="tab-pane fade" id="account">

        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-badge-account mdi-18px"></span>
            <span class="ml-1">Force Account Name</span>
          </div>
          <div class="card-body">
            <input type="text" class="form-control" name="forceAccountName" value="{{#if isEditMode}}{{data.forceAccountName}}{{/if}}" placeholder="# use account settings #"/>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-translate mdi-18px"></span>
            <span class="ml-1">Force Account Language</span>
          </div>
          <div class="card-body">
            <select class="form-select" name="forceAccountLanguage">
              <option value=""># use account settings #</option>
              {{#each allowedLanguages}}
              {{#if (eq ../data.forceAccountLanguage @key)}}
              <option value="{{@key}}" selected>{{this}}</option>
              {{else}}
              <option value="{{@key}}">{{this}}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-identifier mdi-18px"></span>
            <span class="ml-1">Force SteamID</span>
          </div>
          <div class="card-body">
            <input type="number" class="form-control" name="forceAccountSteamId" value="{{data.forceAccountSteamId}}" placeholder="# use account settings #"/>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-ip mdi-18px"></span>
            <span class="ml-1">Force Listen Port</span>
          </div>
          <div class="card-body">
            <input type="number" class="form-control" name="forceAccountListenPort" value="{{#if isEditMode}}{{data.forceAccountListenPort}}{{/if}}" placeholder="# use account settings #"/>
          </div>
        </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-green">Save</button>
      </div>
    </form>
  </div>
</div>
