<div class='modal fade'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg'>
    <form class='modal-content text-bg-st-primary' action='' data-sk-channel='settings-edit'>
      <div class='modal-header'>
        <div class='modal-title'>
          <span class='mdi mdi-cogs'></span>
          <span class='ms-1'>Settings</span>
        </div>
        <button type='button' class='btn-close btn-close-white' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body'>
        <ul class='nav nav-pills nav-justified'>
          <li class='nav-item'>
            <button
              type='button'
              class='nav-link active'
              data-bs-toggle='tab'
              data-bs-target='#general'
            >General</button>
          </li>
          <li class='nav-item'>
            <button
              type='button'
              class='nav-link'
              data-bs-toggle='tab'
              data-bs-target='#steamEmulator'
            >SteamEmulator</button>
          </li>
          <li class='nav-item'>
            <button type='button' class='nav-link' data-bs-toggle='tab' data-bs-target='#steamCloud'>SteamCloud</button>
          </li>
        </ul>
        <div class='tab-content mt-2'>
          <div class='tab-pane fade show active' id='general'>
            <div class='card text-bg-st-primary'>
              <div class='card-body'>
                <div class='form-floating'>
                  <select
                    id='floatingHttpsRejectUnauthorized'
                    class='form-select text-bg-light'
                    name='httpsRejectUnauthorized'
                    required
                  >
                    {{#if settingsData.httpsRejectUnauthorized}}
                      <option value='true' selected>Enabled</option>
                      <option value='false'>Disabled</option>
                    {{else}}
                      <option value='true'>Enabled</option>
                      <option value='false' selected>Disabled</option>
                    {{/if}}
                  </select>
                  <label for='floatingHttpsRejectUnauthorized' class='text-dark'>
                    <span class='mdi mdi-lock-check'></span>
                    <span>SSL Certificate Verification [default. Enabled]</span>
                  </label>
                  <div class='form-text text-light text-center'>If you encounter the "unable to verify the first
                    certificate" error, try disabling the ssl certificate verification.<br />If you change this value,
                    restart the application.</div>
                </div>
              </div>
            </div>
          </div>
          <div class='tab-pane fade' id='steamEmulator'>
            <div class='card text-bg-st-primary'>
              <div class='card-body'>
                <div class='form-floating'>
                  <select
                    id='floatingEmulatorUpdater'
                    class='form-select text-bg-light'
                    name='emulatorUpdater'
                    required
                  >
                    {{#if settingsData.emulatorUpdater}}
                      <option value='true' selected>Enabled</option>
                      <option value='false'>Disabled</option>
                    {{else}}
                      <option value='true'>Enabled</option>
                      <option value='false' selected>Disabled</option>
                    {{/if}}
                  </select>
                  <label for='floatingEmulatorUpdater' class='text-dark'>
                    <span class='mdi mdi-update'></span>
                    <span>Updater [default. Enabled]</span>
                  </label>
                  <div class='form-text text-light text-center'>Automatically updates the steam emulator, if the
                    function is disabled the emulator is no longer updated but downloaded only once if it is missing.</div>
                </div>
                <hr />
                <h4 class='text-center'>SmartSteamLoader</h4>
                <div class='form-floating'>
                  <select id='floatingSsePersist' class='form-select text-bg-light' name='ssePersist' required>
                    {{#if settingsData.ssePersist}}
                      <option value='true' selected>Enabled</option>
                      <option value='false'>Disabled</option>
                    {{else}}
                      <option value='true'>Enabled</option>
                      <option value='false' selected>Disabled</option>
                    {{/if}}
                  </select>
                  <label for='floatingSsePersist' class='text-dark'>
                    <span class='mdi mdi-lock-check'></span>
                    <span>SSE Persist [default. Disabled]</span>
                  </label>
                  <div class='form-text text-light text-center'>Don't exit the loader. Required for games that uses
                    batch file (.bat) or which launch multiple executables.</div>
                </div>
                <div class='form-floating mt-2'>
                  <select id='floatingSseInjectDll' class='form-select text-bg-light' name='sseInjectDll' required>
                    {{#if settingsData.sseInjectDll}}
                      <option value='true' selected>Enabled</option>
                      <option value='false'>Disabled</option>
                    {{else}}
                      <option value='true'>Enabled</option>
                      <option value='false' selected>Disabled</option>
                    {{/if}}
                  </select>
                  <label for='floatingSseInjectDll' class='text-dark'>
                    <span class='mdi mdi-lock-check'></span>
                    <span>SSE Inject Dll [default. Disabled]</span>
                  </label>
                  <div class='form-text text-light text-center'>Inject steamclient(64).dll module into process instead
                    of waiting for game to load it itself. If the game uses steam.dll you might need this to be turned
                    on.</div>
                </div>
                <div class='form-floating mt-2'>
                  <select
                    id='floatingSseParanoidMode'
                    class='form-select text-bg-light'
                    name='sseParanoidMode'
                    required
                  >
                    {{#if settingsData.sseParanoidMode}}
                      <option value='true' selected>Enabled</option>
                      <option value='false'>Disabled</option>
                    {{else}}
                      <option value='true'>Enabled</option>
                      <option value='false' selected>Disabled</option>
                    {{/if}}
                  </select>
                  <label for='floatingSseParanoidMode' class='text-dark'>
                    <span class='mdi mdi-lock-check'></span>
                    <span>SSE Paranoid Mode [default. Disabled]</span>
                  </label>
                  <div class='form-text text-light text-center'>Warn you first if the steam client process is running
                    before launching the game.</div>
                </div>
              </div>
            </div>
          </div>
          <div class='tab-pane fade' id='steamCloud'>
            <div class='card text-bg-st-primary'>
              <div class='card-body'>
                <div class='text-center mb-2'>
                  Support for backup and restoring game saves is guaranteed through
                  <a href='https://github.com/mtkennerly/ludusavi' target='_blank'>ludusavi</a>.<br />
                  By opening ludusavi, you can change the settings, add new locations to search for saves and also add
                  games that ludusavi does not support.<br />
                  If you want to use the backup and restore directly from ludusavi, just in the backup mode insert in
                  the input "Back up to:" the folder "steam_cloud" inside the SteamLauncher path in "data" folder, same
                  thing for the restore mode in the input "Restore from:".
                </div>
                <div class='alert alert-danger text-center'>
                  When you add a custom game set the name of the game exactly as it is also called in the steam store.
                  For example if you want to add a custom save folder for "Homefront®: The Revolution", don't write
                  "Homefront: The Revolution".<br />This allows SteamLauncher to work properly with ludusavi.
                </div>
                <button type='button' class='btn btn-primary btn-sm text-uppercase w-100' data-sk='open-ludusavi'>open
                  ludusavi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='submit' class='btn btn-success w-100'>Save</button>
      </div>
    </form>
  </div>
</div>
